@use "@src/style/vars.scss" as *;

.nav_wrapper {
  width: 242px;
}

.nav {
  position: fixed;
  width: 242px;
  height: 100%;
  top: 55px;
  background: var(--background-color-popup);
  padding-top: 8px;
  @media (min-width: $desktop) {
    border-radius: 7px;
    height: 60%;
    top: 75px;
  }
}

.link_item {
  display: block;
  transition: 0.3s ease;
  padding: 8px 20px;
  width: 90%;
  color: var(--font-color);
  cursor: pointer;
  @media (hover: hover) {
    &:hover {
      background: var(--secondary-dark-blue);
      border-top-right-radius: 7px;
      border-bottom-right-radius: 7px;
    }
  }
}

.link_item {
  display: flex;
  align-items: center;
  & img {
    margin-right: 10px;
  }
}
