@use "@src/style/vars.scss" as *;

.nav_wrapper {
  width: 242px;
}

.nav {
  position: fixed;
  width: 242px;
  height: 100%;
  top: 55px;
  background: var(--background-color-popup);
  padding-top: 8px;
  @media (min-width: $desktop) {
    border-radius: 7px;
    height: 60%;
    top: 75px;
  }
}
