.actions_wrapper {
  display: flex;
  margin-top: 15px;
}

.action {
  display: flex;
  align-items: center;
  margin-right: 20px;
  p {
    margin-left: 5px;
    margin-right: 5px;
    font-size: 14px;
  }
  .like_counter {
    font-size: 14px;
  }
}
