.link {
  position: relative;
  margin-right: 20px;
  color: #889baf;
  font-weight: 500;
}

.link.active {
  color: var(--secondary-light-blue);
  font-weight: 600;
  &::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -5px;
    height: 2px;
    background-color: var(--secondary-light-blue);
  }
}
